@{
    ViewData["Title"] = "About Us";
}

<style>
    section{
        background-color:gray;
    }
    h1.display-4{
        font-size:4em;
        text-align:center;
        margin:30px 0;
        color:wheat;
    }
    img{
        width: 40%;
        margin: 30px 30%;
    }
    img.second{
        width:30%;
        margin: 30px 35%;
    }
    p{
        font-size:1.3em;
        line-height: 30px;
        color:white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

</style>

<section>
    <div class="text-center">
        <h1 class="display-4">About Saregama Radios</h1>
        <img src="~/image/rad1.jpeg"/>
        <p>Saregama India Ltd., a RP Sanjiv Goenka Group company, is India's oldest music label, youngest film studio and a multi-language TV content producer.</p>
        <p>Saregama released India's first ever studio recorded song. In the years that followed, the company continued to expand its catalogue to become the largest in-perpetuity global owner of both sound recording and publishing copyrights of Indian music across 14 different languages. Steadily, the company expanded its portfolio to include intellectual property rights of over 4000 hours of TV content produced for channels in Hindi, Tamil, Telugu, Kannada, Malayalam and Bengali. Over the last few decades, the company forayed into retailing music through physical and digital mediums such as CDs, iOS & Android based apps and usb based thematic music cards.</p>
        <img class="second" src="~/image/rad3.jpeg"/>
        <p>The unique proposition of this product is that even today in the times when digital music consumption is the order of the day, Carvaan attempts to give the older generation a lean-back, uncomplicated ala70s Vividh Bharti music listening experience. Carvaan is a perfect blend of digital technology a retro form factor. In less than a year, from launch its unprecedented sales have made it Saregama's flagship product.</p>
        <img src="~/image/rad2.jpeg"/>
        <p>Saregama's head office is located in Kolkata, with other offices in Mumbai, Delhi and Chennai. It is listed on the National Stock Exchange of India Limited and BSE Limited.</p>

    </div>
</section>