@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Saregama Radio</h1>
    <p>To insert new radio information, <a asp-area="" asp-controller="radios" asp-action="Index">click</a> here.</p>
</div>
